body {
    margin:100px;
    background-color: #4885B4
}

h1 {
  font-size:50px;
  text-align:center;
  color: navy;
}
/* Barra de menu */
.topnav {
    background-color:#333;
    overflow:hidden;
}

.topnav a {
    float: left;
    color:#f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;
}

.topnav a:hover{
    background-color: #04AA6D;
    color:white;
}

.topnav a.active {
    background-color: #04AA6D;
    color:white;
}
/* Barra de menu */

.SobreMim{
     font-size:20px;
}